---
import Layout from '../_layouts/Layout.astro';

var metadata = {
  title: {
    default: 'Colors',
  },
};
---

<Layout
  metadata={metadata}
  headline={{
    tagline: 'Primitives',
    title: 'Colors',
    subtitle: 'Color palette documentation',
  }}
>
  <style>
    button.color-btn {
      width: 4rem;
      height: 4rem;
      border: 1px solid black;
    }
  </style>

  <h2>Theme Colors</h2>

  <h3>Semantic Colors</h3>

  <div class="grid grid-cols-12 gap-4">
    <div class="text-center font-medium">text</div>
    <div class="text-center font-medium">subtext1</div>
    <div class="text-center font-medium">subtext0</div>
    <div class="text-center font-medium">overlay2</div>
    <div class="text-center font-medium">overlay1</div>
    <div class="text-center font-medium">overlay0</div>
    <div class="text-center font-medium">surface2</div>
    <div class="text-center font-medium">surface1</div>
    <div class="text-center font-medium">surface0</div>
    <div class="text-center font-medium">base</div>
    <div class="text-center font-medium">mantle</div>
    <div class="text-center font-medium">crust</div>

    <button class="color-btn bg-text"></button>
    <button class="color-btn bg-subtext1"></button>
    <button class="color-btn bg-subtext0"></button>
    <button class="color-btn bg-overlay2"></button>
    <button class="color-btn bg-overlay1"></button>
    <button class="color-btn bg-overlay0"></button>
    <button class="color-btn bg-surface2"></button>
    <button class="color-btn bg-surface1"></button>
    <button class="color-btn bg-surface0"></button>
    <button class="color-btn bg-base"></button>
    <button class="color-btn bg-mantle"></button>
    <button class="color-btn bg-crust"></button>

    <div class="text-center font-medium">black</div>
    <div class="text-center font-medium">white</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>

    <button class="color-btn bg-black"></button>
    <button class="color-btn bg-white"></button>
  </div>

  <h3>Spectrum Colors</h3>
  <div class="grid grid-cols-13 gap-4">
    <div>&nbsp;</div>
    <div class="text-center">base</div>
    <div class="text-center">50</div>
    <div class="text-center">100</div>
    <div class="text-center">200</div>
    <div class="text-center">300</div>
    <div class="text-center">400</div>
    <div class="text-center">500</div>
    <div class="text-center">600</div>
    <div class="text-center">700</div>
    <div class="text-center">800</div>
    <div class="text-center">900</div>
    <div class="text-center">950</div>

    <!-- Red -->
    <p class="capitalize">Red</p>
    <button class="color-btn bg-red"></button>
    <button class="color-btn bg-red-50"></button>
    <button class="color-btn bg-red-100"></button>
    <button class="color-btn bg-red-200"></button>
    <button class="color-btn bg-red-300"></button>
    <button class="color-btn bg-red-400"></button>
    <button class="color-btn bg-red-500"></button>
    <button class="color-btn bg-red-600"></button>
    <button class="color-btn bg-red-700"></button>
    <button class="color-btn bg-red-800"></button>
    <button class="color-btn bg-red-900"></button>
    <button class="color-btn bg-red-950"></button>

    <!-- Maroon -->
    <p class="capitalize">Maroon</p>
    <button class="color-btn bg-maroon"></button>
    <button class="color-btn bg-maroon-50"></button>
    <button class="color-btn bg-maroon-100"></button>
    <button class="color-btn bg-maroon-200"></button>
    <button class="color-btn bg-maroon-300"></button>
    <button class="color-btn bg-maroon-400"></button>
    <button class="color-btn bg-maroon-500"></button>
    <button class="color-btn bg-maroon-600"></button>
    <button class="color-btn bg-maroon-700"></button>
    <button class="color-btn bg-maroon-800"></button>
    <button class="color-btn bg-maroon-900"></button>
    <button class="color-btn bg-maroon-950"></button>

    <!-- Peach -->
    <p class="capitalize">Peach</p>
    <button class="color-btn bg-peach"></button>
    <button class="color-btn bg-peach-50"></button>
    <button class="color-btn bg-peach-100"></button>
    <button class="color-btn bg-peach-200"></button>
    <button class="color-btn bg-peach-300"></button>
    <button class="color-btn bg-peach-400"></button>
    <button class="color-btn bg-peach-500"></button>
    <button class="color-btn bg-peach-600"></button>
    <button class="color-btn bg-peach-700"></button>
    <button class="color-btn bg-peach-800"></button>
    <button class="color-btn bg-peach-900"></button>
    <button class="color-btn bg-peach-950"></button>

    <!-- Yellow -->
    <p class="capitalize">Yellow</p>
    <button class="color-btn bg-yellow"></button>
    <button class="color-btn bg-yellow-50"></button>
    <button class="color-btn bg-yellow-100"></button>
    <button class="color-btn bg-yellow-200"></button>
    <button class="color-btn bg-yellow-300"></button>
    <button class="color-btn bg-yellow-400"></button>
    <button class="color-btn bg-yellow-500"></button>
    <button class="color-btn bg-yellow-600"></button>
    <button class="color-btn bg-yellow-700"></button>
    <button class="color-btn bg-yellow-800"></button>
    <button class="color-btn bg-yellow-900"></button>
    <button class="color-btn bg-yellow-950"></button>

    <!-- Lime -->
    <p class="capitalize">Lime</p>
    <button class="color-btn bg-lime"></button>
    <button class="color-btn bg-lime-50"></button>
    <button class="color-btn bg-lime-100"></button>
    <button class="color-btn bg-lime-200"></button>
    <button class="color-btn bg-lime-300"></button>
    <button class="color-btn bg-lime-400"></button>
    <button class="color-btn bg-lime-500"></button>
    <button class="color-btn bg-lime-600"></button>
    <button class="color-btn bg-lime-700"></button>
    <button class="color-btn bg-lime-800"></button>
    <button class="color-btn bg-lime-900"></button>
    <button class="color-btn bg-lime-950"></button>

    <!-- Green -->
    <p class="capitalize">Green</p>
    <button class="color-btn bg-green"></button>
    <button class="color-btn bg-green-50"></button>
    <button class="color-btn bg-green-100"></button>
    <button class="color-btn bg-green-200"></button>
    <button class="color-btn bg-green-300"></button>
    <button class="color-btn bg-green-400"></button>
    <button class="color-btn bg-green-500"></button>
    <button class="color-btn bg-green-600"></button>
    <button class="color-btn bg-green-700"></button>
    <button class="color-btn bg-green-800"></button>
    <button class="color-btn bg-green-900"></button>
    <button class="color-btn bg-green-950"></button>

    <!-- Emerald -->
    <p class="capitalize">Emerald</p>
    <button class="color-btn bg-emerald"></button>
    <button class="color-btn bg-emerald-50"></button>
    <button class="color-btn bg-emerald-100"></button>
    <button class="color-btn bg-emerald-200"></button>
    <button class="color-btn bg-emerald-300"></button>
    <button class="color-btn bg-emerald-400"></button>
    <button class="color-btn bg-emerald-500"></button>
    <button class="color-btn bg-emerald-600"></button>
    <button class="color-btn bg-emerald-700"></button>
    <button class="color-btn bg-emerald-800"></button>
    <button class="color-btn bg-emerald-900"></button>
    <button class="color-btn bg-emerald-950"></button>

    <!-- Teal -->
    <p class="capitalize">Teal</p>
    <button class="color-btn bg-teal"></button>
    <button class="color-btn bg-teal-50"></button>
    <button class="color-btn bg-teal-100"></button>
    <button class="color-btn bg-teal-200"></button>
    <button class="color-btn bg-teal-300"></button>
    <button class="color-btn bg-teal-400"></button>
    <button class="color-btn bg-teal-500"></button>
    <button class="color-btn bg-teal-600"></button>
    <button class="color-btn bg-teal-700"></button>
    <button class="color-btn bg-teal-800"></button>
    <button class="color-btn bg-teal-900"></button>
    <button class="color-btn bg-teal-950"></button>

    <!-- Cyan -->
    <p class="capitalize">Cyan</p>
    <button class="color-btn bg-cyan"></button>
    <button class="color-btn bg-cyan-50"></button>
    <button class="color-btn bg-cyan-100"></button>
    <button class="color-btn bg-cyan-200"></button>
    <button class="color-btn bg-cyan-300"></button>
    <button class="color-btn bg-cyan-400"></button>
    <button class="color-btn bg-cyan-500"></button>
    <button class="color-btn bg-cyan-600"></button>
    <button class="color-btn bg-cyan-700"></button>
    <button class="color-btn bg-cyan-800"></button>
    <button class="color-btn bg-cyan-900"></button>
    <button class="color-btn bg-cyan-950"></button>

    <!-- Sky -->
    <p class="capitalize">Sky</p>
    <button class="color-btn bg-sky"></button>
    <button class="color-btn bg-sky-50"></button>
    <button class="color-btn bg-sky-100"></button>
    <button class="color-btn bg-sky-200"></button>
    <button class="color-btn bg-sky-300"></button>
    <button class="color-btn bg-sky-400"></button>
    <button class="color-btn bg-sky-500"></button>
    <button class="color-btn bg-sky-600"></button>
    <button class="color-btn bg-sky-700"></button>
    <button class="color-btn bg-sky-800"></button>
    <button class="color-btn bg-sky-900"></button>
    <button class="color-btn bg-sky-950"></button>

    <!-- Sapphire -->
    <p class="capitalize">Sapphire</p>
    <button class="color-btn bg-sapphire"></button>
    <button class="color-btn bg-sapphire-50"></button>
    <button class="color-btn bg-sapphire-100"></button>
    <button class="color-btn bg-sapphire-200"></button>
    <button class="color-btn bg-sapphire-300"></button>
    <button class="color-btn bg-sapphire-400"></button>
    <button class="color-btn bg-sapphire-500"></button>
    <button class="color-btn bg-sapphire-600"></button>
    <button class="color-btn bg-sapphire-700"></button>
    <button class="color-btn bg-sapphire-800"></button>
    <button class="color-btn bg-sapphire-900"></button>
    <button class="color-btn bg-sapphire-950"></button>

    <!-- Blue -->
    <p class="capitalize">Blue</p>
    <button class="color-btn bg-blue"></button>
    <button class="color-btn bg-blue-50"></button>
    <button class="color-btn bg-blue-100"></button>
    <button class="color-btn bg-blue-200"></button>
    <button class="color-btn bg-blue-300"></button>
    <button class="color-btn bg-blue-400"></button>
    <button class="color-btn bg-blue-500"></button>
    <button class="color-btn bg-blue-600"></button>
    <button class="color-btn bg-blue-700"></button>
    <button class="color-btn bg-blue-800"></button>
    <button class="color-btn bg-blue-900"></button>
    <button class="color-btn bg-blue-950"></button>

    <!-- Lavender -->
    <p class="capitalize">Lavender</p>
    <button class="color-btn bg-lavender"></button>
    <button class="color-btn bg-lavender-50"></button>
    <button class="color-btn bg-lavender-100"></button>
    <button class="color-btn bg-lavender-200"></button>
    <button class="color-btn bg-lavender-300"></button>
    <button class="color-btn bg-lavender-400"></button>
    <button class="color-btn bg-lavender-500"></button>
    <button class="color-btn bg-lavender-600"></button>
    <button class="color-btn bg-lavender-700"></button>
    <button class="color-btn bg-lavender-800"></button>
    <button class="color-btn bg-lavender-900"></button>
    <button class="color-btn bg-lavender-950"></button>

    <!-- Mauve -->
    <p class="capitalize">Mauve</p>
    <button class="color-btn bg-mauve"></button>
    <button class="color-btn bg-mauve-50"></button>
    <button class="color-btn bg-mauve-100"></button>
    <button class="color-btn bg-mauve-200"></button>
    <button class="color-btn bg-mauve-300"></button>
    <button class="color-btn bg-mauve-400"></button>
    <button class="color-btn bg-mauve-500"></button>
    <button class="color-btn bg-mauve-600"></button>
    <button class="color-btn bg-mauve-700"></button>
    <button class="color-btn bg-mauve-800"></button>
    <button class="color-btn bg-mauve-900"></button>
    <button class="color-btn bg-mauve-950"></button>

    <!-- Pink -->
    <p class="capitalize">Pink</p>
    <button class="color-btn bg-pink"></button>
    <button class="color-btn bg-pink-50"></button>
    <button class="color-btn bg-pink-100"></button>
    <button class="color-btn bg-pink-200"></button>
    <button class="color-btn bg-pink-300"></button>
    <button class="color-btn bg-pink-400"></button>
    <button class="color-btn bg-pink-500"></button>
    <button class="color-btn bg-pink-600"></button>
    <button class="color-btn bg-pink-700"></button>
    <button class="color-btn bg-pink-800"></button>
    <button class="color-btn bg-pink-900"></button>
    <button class="color-btn bg-pink-950"></button>

    <!-- Flamingo -->
    <p class="capitalize">Flamingo</p>
    <button class="color-btn bg-flamingo"></button>
    <button class="color-btn bg-flamingo-50"></button>
    <button class="color-btn bg-flamingo-100"></button>
    <button class="color-btn bg-flamingo-200"></button>
    <button class="color-btn bg-flamingo-300"></button>
    <button class="color-btn bg-flamingo-400"></button>
    <button class="color-btn bg-flamingo-500"></button>
    <button class="color-btn bg-flamingo-600"></button>
    <button class="color-btn bg-flamingo-700"></button>
    <button class="color-btn bg-flamingo-800"></button>
    <button class="color-btn bg-flamingo-900"></button>
    <button class="color-btn bg-flamingo-950"></button>

    <!-- Rosewater -->
    <p class="capitalize">Rosewater</p>
    <button class="color-btn bg-rosewater"></button>
    <button class="color-btn bg-rosewater-50"></button>
    <button class="color-btn bg-rosewater-100"></button>
    <button class="color-btn bg-rosewater-200"></button>
    <button class="color-btn bg-rosewater-300"></button>
    <button class="color-btn bg-rosewater-400"></button>
    <button class="color-btn bg-rosewater-500"></button>
    <button class="color-btn bg-rosewater-600"></button>
    <button class="color-btn bg-rosewater-700"></button>
    <button class="color-btn bg-rosewater-800"></button>
    <button class="color-btn bg-rosewater-900"></button>
    <button class="color-btn bg-rosewater-950"></button>

    <!-- Slate -->
    <p class="capitalize">Slate</p>
    <button class="color-btn bg-slate"></button>
    <button class="color-btn bg-slate-50"></button>
    <button class="color-btn bg-slate-100"></button>
    <button class="color-btn bg-slate-200"></button>
    <button class="color-btn bg-slate-300"></button>
    <button class="color-btn bg-slate-400"></button>
    <button class="color-btn bg-slate-500"></button>
    <button class="color-btn bg-slate-600"></button>
    <button class="color-btn bg-slate-700"></button>
    <button class="color-btn bg-slate-800"></button>
    <button class="color-btn bg-slate-900"></button>
    <button class="color-btn bg-slate-950"></button>

    <!-- Gray -->
    <p class="capitalize">Gray</p>
    <button class="color-btn bg-gray"></button>
    <button class="color-btn bg-gray-50"></button>
    <button class="color-btn bg-gray-100"></button>
    <button class="color-btn bg-gray-200"></button>
    <button class="color-btn bg-gray-300"></button>
    <button class="color-btn bg-gray-400"></button>
    <button class="color-btn bg-gray-500"></button>
    <button class="color-btn bg-gray-600"></button>
    <button class="color-btn bg-gray-700"></button>
    <button class="color-btn bg-gray-800"></button>
    <button class="color-btn bg-gray-900"></button>
    <button class="color-btn bg-gray-950"></button>

    <!-- Zinc -->
    <p class="capitalize">Zinc</p>
    <button class="color-btn bg-zinc"></button>
    <button class="color-btn bg-zinc-50"></button>
    <button class="color-btn bg-zinc-100"></button>
    <button class="color-btn bg-zinc-200"></button>
    <button class="color-btn bg-zinc-300"></button>
    <button class="color-btn bg-zinc-400"></button>
    <button class="color-btn bg-zinc-500"></button>
    <button class="color-btn bg-zinc-600"></button>
    <button class="color-btn bg-zinc-700"></button>
    <button class="color-btn bg-zinc-800"></button>
    <button class="color-btn bg-zinc-900"></button>
    <button class="color-btn bg-zinc-950"></button>

    <!-- Neutral -->
    <p class="capitalize">Neutral</p>
    <button class="color-btn bg-neutral"></button>
    <button class="color-btn bg-neutral-50"></button>
    <button class="color-btn bg-neutral-100"></button>
    <button class="color-btn bg-neutral-200"></button>
    <button class="color-btn bg-neutral-300"></button>
    <button class="color-btn bg-neutral-400"></button>
    <button class="color-btn bg-neutral-500"></button>
    <button class="color-btn bg-neutral-600"></button>
    <button class="color-btn bg-neutral-700"></button>
    <button class="color-btn bg-neutral-800"></button>
    <button class="color-btn bg-neutral-900"></button>
    <button class="color-btn bg-neutral-950"></button>

    <!-- Stone -->
    <p class="capitalize">Stone</p>
    <button class="color-btn bg-stone"></button>
    <button class="color-btn bg-stone-50"></button>
    <button class="color-btn bg-stone-100"></button>
    <button class="color-btn bg-stone-200"></button>
    <button class="color-btn bg-stone-300"></button>
    <button class="color-btn bg-stone-400"></button>
    <button class="color-btn bg-stone-500"></button>
    <button class="color-btn bg-stone-600"></button>
    <button class="color-btn bg-stone-700"></button>
    <button class="color-btn bg-stone-800"></button>
    <button class="color-btn bg-stone-900"></button>
    <button class="color-btn bg-stone-950"></button>
  </div>
</Layout>
