@import 'tailwindcss';

@source inline('{sm:,md:,lg:,xl:,}grid-cols-{1,2,3,4}');
@source inline('{md:,}grid-cols-[25%_75%]');
@source inline('{md:,}grid-cols-[1fr_3fr]');
@source inline('{md:,}grid-cols-[75%_25%]');
@source inline('{md:,}grid-cols-[3fr_1fr]');

:root {
  --container-max-width: 1200px;
}
