---
import Layout from '~/layouts/Layout.astro';
import Container from '~/components/blocks/layout/Container.astro';
import Headline from '~/components/blocks/primitives/Headline.astro';
import TwoColumnContainer from '~/components/blocks/layout/TwoColumnContainer.astro';
import Image from '~/components/blocks/primitives/Image.astro';
import ContentCarousel from '~/components/blocks/composite/ContentCarousel.astro';
import ContentCarouselItem from '~/components/blocks/primitives/ContentCarouselItem.astro';
import Video from '~/components/blocks/primitives/Video.astro';
import Content from '~/components/blocks/composite/Content.astro';
import ItemsTimeline from '~/components/blocks/composite/ItemsTimeline.astro';
import CallToAction from '~/components/blocks/composite/CallToAction.astro';
---

<Layout>
  <Container
    minHeight="h-screen"
    background={{
      video: '/videos/index-hero.mp4',
    }}
    content={{
      widthType: 'full',
    }}
  >
    <Headline
      class="absolute left-1/2 top-3/4 md:left-3/4 md:top-1/2 -translate-x-1/2 -translate-y-1/2"
      title="Les Succulentes"
    />
  </Container>

  <Container>
    <blockquote class="text-center">
      La force peut être douce. <br />La nature devient architecture. <br />Le bijou devient vivant.
    </blockquote>
  </Container>

  <Container>
    <Headline anchorId="les-succulentes" title="Les Succulentes" />
    <p class="text-center">
      Les Succulentes est née d'une plante capable de survivre dans le désert. Elle retient l'eau.
      Elle transforme l'aridité en force. Chaque pièce s'inspire de cette résilience. Formes
      organiques. Volumes sculpturaux. Mouvement fluide. <br />
      La collection intègre également du cuir vegan d'origine cactus, matière innovante et responsable,
      en écho direct à son inspiration végétale. Il devient lien, structure ou écrin, prolongeant l'histoire
      de la plante jusque dans le bijou.
      <br />
      <i>Les Succulentes n'est pas une collection.</i>
      <strong>C'est une déclaration.</strong>
    </p>
  </Container>

  <ContentCarousel loop autoplay={{ enabled: true, delay: 3000, pauseOnHover: true }}>
    <ContentCarouselItem basis="basis-full md:basis-1/2 lg:basis-1/3">
      <Image
        src="~/assets/images/succulentes/01.jpg"
        alt="Pendentif succulentes rouges"
        layout="responsive"
        class="rounded-lg border border-elevated shadow"
      />
    </ContentCarouselItem>
    <ContentCarouselItem basis="basis-full md:basis-1/2 lg:basis-1/3">
      <Image
        src="~/assets/images/succulentes/02.jpg"
        alt="Bague succulentes vertes"
        layout="responsive"
        class="rounded-lg border border-elevated shadow"
      />
    </ContentCarouselItem>
    <ContentCarouselItem basis="basis-full md:basis-1/2 lg:basis-1/3">
      <Image
        src="~/assets/images/succulentes/03.jpg"
        alt="Chokers succulentes rouges"
        layout="responsive"
        class="rounded-lg border border-elevated shadow"
      />
    </ContentCarouselItem>
    <ContentCarouselItem basis="basis-full md:basis-1/2 lg:basis-1/3">
      <Image
        src="~/assets/images/succulentes/04.jpg"
        alt="Fermoire choker verte"
        layout="responsive"
        class="rounded-lg border border-elevated shadow"
      />
    </ContentCarouselItem>
    <ContentCarouselItem basis="basis-full md:basis-1/2 lg:basis-1/3">
      <Image
        src="~/assets/images/succulentes/05.jpg"
        alt="Pendentif succulentes noires"
        layout="responsive"
        class="rounded-lg border border-elevated shadow"
      />
    </ContentCarouselItem>
  </ContentCarousel>

  <TwoColumnContainer
    responsive
    content={{
      widthType: 'boxed',
      air: 'normal',
    }}
  >
    <div slot="left">
      <p>
        <br /><br />
        Les succulentes poussent sous le soleil du Mexique. Dans la terre aride, elles retiennent l'essentiel.
      </p>
      <p class="text-center">
        <strong>
          Elles résistent.<br />
          Elles s'adaptent.<br />
          Elles se transforment.</strong
        >
      </p>
      <p>
        Les Succulentes est née de cette mémoire. Une collection inspirée par la résilience
        mexicaine et la force silencieuse des femmes.
      </p>
      <p>
        Pensée pour être modulable, transformable, adaptable à celle qui la porte, elle offre des
        possibilités de personnalisation infinies. Chaque pièce évolue. Elle se compose, se
        recompose, se réinvente.
      </p>
      <p>
        <strong>Rien n'est figé.</strong> La transformation fait partie de sa nature. La résilience n'est
        pas rigidité. C'est mouvement.
      </p>
    </div>
    <div slot="right">
      <Video
        aspectRatio="square"
        autoplay
        loop
        muted
        hideControls
        source={{
          type: 'video',
          sources: [
            {
              src: '/videos/succulentes/succulentes.mp4',
              type: 'video/mp4',
              size: 914,
            },
          ],
        }}
      />
    </div>
  </TwoColumnContainer>

  <Content
    headline={{ anchorId: 'vision', title: 'Vision' }}
    imageOnLeft
    image={{
      src: '~/assets/images/vision/vision.png',
      alt: 'Pendentif obsidienne',
      layout: 'responsive',
      class: 'rounded-lg shadow',
    }}
  >
    <p>
      <strong>Redonner à la joaillerie sa dimension humaine et vivante.</strong>
    </p>
    <p>
      Sofía Moreno est un studio de joaillerie fondé à Paris, nourri par des racines mexicaines.
    </p>
    <p>
      Nous créons des pièces sur mesure et des collections capsules où la technologie dialogue avec
      l'émotion, et où la rigueur rencontre la joie de vivre.
    </p>
    <p>
      Chaque bijou est pensé comme un objet vivant. Il évolue. Il se transforme. Il accompagne les
      mouvements de la vie.
    </p>
    <p>
      Notre approche relie :<br />
      - la précision de la modélisation 3D<br />
      - le savoir-faire<br />
      - des matières responsables<br />
      - l'énergie solaire et symbolique du Mexique<br />
    </p>
    <p>
      Nous croyons en une joaillerie libre, sincère et lumineuse.<br />
      Un luxe artistique qui célèbre la transformation, l'audace et la joie d'exister.
    </p>
  </Content>
  <Content
    headline={{
      title: 'La Créatrice',
      anchorId: 'creatrice',
    }}
    image={{
      src: '~/assets/images/me-smoreno.jpeg',
      alt: 'Sofia Moreno',
      layout: 'responsive',
      class: 'rounded-lg shadow',
    }}
  >
    <p>
      Elle est née au Mexique. Un pays de couleurs intenses, de symboles puissants, de résilience.
    </p>
    <p>
      En Italie, elle étudie l'ingénierie joaillière.<br />
      Elle y apprend la modélisation 3D, la rigueur, la précision, l'exigence du détail..
    </p>
    <p>
      À Paris, au sein de grandes maisons, elle participe au développement de collections
      emblématiques.
    </p>
    <p>Aujourd'hui, elle relie ces trois mondes, et elle y va au bout de ses rêves.</p>
  </Content>

  <Container>
    <Headline anchorId="autres-collections" title="Autres Collections" />
    <div class="text-center">
      <p>
        Nous travaillons des métaux précieux responsables, sélectionnés auprès de partenaires
        engagés et certifiés. <strong>L'obsidienne dorée</strong>, pierre volcanique mexicaine, est
        au cœur de certaines créations. Miroir noir aux reflets solaires, matière ancestrale, elle
        relie passé et modernité.
      </p>
      <p>
        <strong>Le cuir vegan d'origine cactus</strong> s'intègre également à nos pièces. Issu d'un savoir-faire
        innovant mexicain, il devient parfois structure, lien ou écrin. Une alternative contemporaine
        et responsable qui affirme l'identité de la maison.
      </p>
      <p>
        D'autres collections explorent des matières rares et des <strong
          >couleurs pleines de vie</strong
        >. Pierres profondes, nuances intenses, transparences lumineuses. Des contrastes forts qui
        évoquent la chaleur, l'énergie et la joie.
      </p><p>
        <strong>Formes concentriques</strong>, basées sur les proportions d'or, jouant avec les
        géométries. Chaque matière est choisie pour sa beauté, sa symbolique et sa traçabilité. Elle
        porte une histoire.
      </p>
    </div>
  </Container>

  <ContentCarousel loop autoplay={{ enabled: true, delay: 3000, pauseOnHover: true }}>
    <ContentCarouselItem basis="basis-full md:basis-1/2 lg:basis-1/3">
      <Image
        src="~/assets/images/autres/01.png"
        alt="Pendentif obsidienne porté"
        layout="responsive"
        class="rounded-lg border border-elevated shadow"
      />
    </ContentCarouselItem>
    <ContentCarouselItem basis="basis-full md:basis-1/2 lg:basis-1/3">
      <Image
        src="~/assets/images/autres/02.jpg"
        alt="Pendentif caleidoscope porté"
        layout="responsive"
        class="rounded-lg border border-elevated shadow"
      />
    </ContentCarouselItem>
    <ContentCarouselItem basis="basis-full md:basis-1/2 lg:basis-1/3">
      <Image
        src="~/assets/images/autres/03.jpg"
        alt="Choker tunnel concentrique"
        layout="responsive"
        class="rounded-lg border border-elevated shadow"
      />
    </ContentCarouselItem>
    <ContentCarouselItem basis="basis-full md:basis-1/2 lg:basis-1/3">
      <Image
        src="~/assets/images/autres/04.jpg"
        alt="Bracelet naissance"
        layout="responsive"
        class="rounded-lg border border-elevated shadow"
      />
    </ContentCarouselItem>
    <ContentCarouselItem basis="basis-full md:basis-1/2 lg:basis-1/3">
      <Image
        src="~/assets/images/autres/05.jpg"
        alt="Bracelent amitié"
        layout="responsive"
        class="rounded-lg border border-elevated shadow"
      />
    </ContentCarouselItem>
  </ContentCarousel>

  <Content
    headline={{
      anchorId: 'joaillerie-sur-mesure',
      title: 'Joaillerie sur mesure',
    }}
    image={{
      src: '~/assets/images/sur mesure/02.png',
      alt: 'Atelier',
      layout: 'responsive',
      class: 'rounded-lg shadow',
    }}
  >
    <p><br /><br /></p>
    <ItemsTimeline
      defaultItemConfig={{
        icon: { class: 'bg-tertiary text-background p-2 rounded-full' },
      }}
      items={[
        {
          icon: { name: 'tabler:bulb' },
          title: 'Intention',
          content: 'Nous définissons votre histoire, vos symboles, votre moment.',
        },
        {
          icon: { name: 'tabler:brush' },
          title: 'Visualisation',
          content: 'Nous dessinons la pièce avec vous.',
        },
        {
          icon: { name: 'tabler:mouse' },
          title: 'Transformation',
          content:
            "Nous ajustons et transformons le design en 3D. Les volumes, les proportions et les détails sont affinés jusqu'à l'équilibre parfait.",
        },
        {
          icon: { name: 'tabler:diamond' },
          title: 'Fabrication',
          content: 'La pièce est réalisée  en métaux précieux.',
        },
      ]}
    />
  </Content>

  <CallToAction
    headline={{
      title: 'Contactez-moi',
      subtitle:
        'Remplissez le formulaire pour discuter de votre projet de bijou sur mesure, ou pour toute question sur les collections.',
    }}
    actions={[
      {
        label: 'Remplissez le formulaire',
        icon: { name: 'tabler:category' },
        intent: 'primary',
        size: 'lg',
        variant: 'solid',
        shape: 'pill',
        href: 'https://beautiful-radar-d8c.notion.site/237e05212921801cb353e2886bb57c89?pvs=105',
        target: '_blank',
      },
      {
        label: 'Contactez-moi',
        icon: { name: 'tabler:mail' },
        intent: 'secondary',
        size: 'lg',
        variant: 'solid',
        shape: 'pill',
        href: 'mailto:contact@sofiamoreno.fr',
      },
    ]}
  />
</Layout>
