---
import Container from '~/components/blocks/layout/Container.astro';
import Headline from '~/components/blocks/primitives/Headline.astro';
import Button from '~/components/blocks/primitives/Button.astro';
import { cn } from '~/utils/styles';
import merge from 'lodash.merge';
import type { ContainerProps } from '~/types/container.types';
import type { ButtonProps } from '~/types/button.types';
import type { CallToActionProps } from '~/types/calltoaction.types';

type Props = CallToActionProps;

const { container, headline, actions } = Astro.props;

const defaultContainer: Partial<ContainerProps> = {
  content: {
    boxWidth: 'w-full max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl px-8',
    class: 'bg-elevated rounded-md shadow-xl overflow-hidden',
  },
};

const mergedContainer = merge({}, defaultContainer, container);
---

<Container {...mergedContainer}>
  <Headline {...headline} />
  <div class={cn('flex flex-col md:flex-row gap-4 justify-center mb-8')}>
    {actions.map((action: ButtonProps) => <Button {...action} />)}
  </div>
</Container>
