---
import Container from './Container.astro';
import Headline from './Headline.astro';
import Button from '../primitives/Button.astro';
import { cn } from '~/utils/styles';
import merge from 'lodash.merge';
import type { ContainerProps } from '~/types/container.types';
import type { HeadlineProps } from '~/types/headline.types';
import type { ButtonProps } from '~/types/button.types';

const defaultContainer = {
  content: {
    boxWidth: 'w-full max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl',
    class: 'bg-elevated rounded-md shadow-xl',
  },
} as ContainerProps;

const defaultHeadline = {} as HeadlineProps;

const { container = {}, headline = {}, actions = [] } = Astro.props;

const mergedContainer = merge({}, defaultContainer, container);
const mergedHeadline = merge({}, defaultHeadline, headline);
---

<Container {...mergedContainer}>
  <Headline {...mergedHeadline} />
  <div class={cn('flex flex-col md:flex-row gap-4 justify-center mt-6')}>
    {actions.map((action: ButtonProps) => <Button {...action} />)}
  </div>
</Container>
