---
import Container from '~/components/blocks/layout/Container.astro';
import Headline from '~/components/blocks/primitives/Headline.astro';
import TwoColumnContainer from '~/components/blocks/layout/TwoColumnContainer.astro';
import Image from '~/components/blocks/primitives/Image.astro';
import Button from '~/components/blocks/primitives/Button.astro';
import ItemsGrid from '~/components/blocks/composite/ItemsGrid.astro';
import type { ContentProps } from '~/types/content.types';
import type { TwoColumnContainerProps } from '~/types/container.types';
import type { ImageProps } from '~/utils/images-optimization';
import type { ItemsGridProps } from '~/types/itemsgrid.types';
import { mergeConfigs } from '~/utils/mergeConfigs';
import { cn } from '~/utils/styles';

type Props = ContentProps;

const {
  container,
  headline,
  image,
  action,
  items = [],
  imageOnLeft = false,
  reverseOnMobile = false,
  contentSlotClass,
} = Astro.props;

const defaultContainer = {};

const defaultHeadline = {
  class: 'mb-6 md:mb-8 lg:mb-12',
};

const defaultTwoColumnConfig: TwoColumnContainerProps = {
  htmlTag: 'div',
  content: { air: 'none' },
  responsive: true,
  reverseOnMobile: reverseOnMobile,
};

const defaultItemsGridConfig: Partial<ItemsGridProps> = {
  columns: 1,
  air: 'normal',
  items: [],
  defaultItemConfig: {
    layout: 'horizontal',
  },
  class: 'mt-6 md:mt-8',
};

const defaultImage: Partial<ImageProps> = {
  class: 'rounded-lg shadow',
  width: 500,
  height: 500,
  widths: [400, 768],
  sizes: '(max-width: 768px) 100vw, 432px',
  layout: 'responsive',
  src: '',
  alt: '',
};

const mergedContainer = mergeConfigs({}, defaultContainer, container);
const mergedHeadline = mergeConfigs({}, defaultHeadline, headline);
const mergedImage = mergeConfigs({}, defaultImage, image);

const mergedItemsGrid = mergeConfigs({}, defaultItemsGridConfig, {
  items: items,
});

const contentSpacerClass = cn({
  'mb-4 md:mb-6': items.length > 0 || action,
});

const actionsSpacerClass = cn({
  'mb-4 md:mb-6': items.length > 0,
});
---

<Container {...mergedContainer}>
  <Headline {...mergedHeadline} />
  <TwoColumnContainer {...defaultTwoColumnConfig}>
    <div class={contentSlotClass} slot={imageOnLeft ? 'right' : 'left'}>
      <div class={contentSpacerClass}>
        <slot />
      </div>
      {
        action && (
          <div class={actionsSpacerClass}>
            <Button {...action} />
          </div>
        )
      }
      {items.length > 0 && <ItemsGrid {...mergedItemsGrid} />}
    </div>
    <div slot={imageOnLeft ? 'left' : 'right'}>
      <Image {...mergedImage} />
    </div>
  </TwoColumnContainer>
</Container>
