---
import type { ItemsTimelineProps } from '~/types/itemstimeline.types';
import type { ItemProps } from '~/types/item.types';
import { cn } from '~/utils/styles';
import Item from '~/components/blocks/composite/Item.astro';
import merge from 'lodash.merge';

type Props = ItemsTimelineProps;

const {
  items = [],
  connectorStyle = 'solid',
  air = 'normal',
  class: className = '',
  defaultItemConfig,
} = Astro.props;

const spacingSettings = {
  none: '',
  tight: 'pb-3 md:pb-4 lg:pb-6',
  normal: 'pb-4 md:pb-6 lg:pb-8',
  loose: 'pb-6 md:pb-8 lg:pb-12',
} as const;

const defaultTimelineClass = 'relative flex flex-col';

// Merged classes
const timelineClass = cn(defaultTimelineClass, className);
---

<div class={timelineClass}>
  {
    items.map((item: ItemProps, index: number) => {
      const mergedItem = merge(
        {},
        defaultItemConfig || {},
        { contentClass: spacingSettings[air] },
        item
      );
      const isLast = index === items.length - 1;

      return (
        <Item
          {...mergedItem}
          layout="horizontal"
          showConnector={!isLast}
          connectorStyle={connectorStyle}
        />
      );
    })
  }
</div>
