---
import merge from 'lodash.merge';
import Container from '~/components/blocks/layout/Container.astro';
import type { ContainerProps, SidebarContainerProps } from '~/types/container.types';
import { cn } from '~/utils/styles';

type Props = SidebarContainerProps;

const {
  air = 'normal',
  responsive = false,
  breakpoint = 'md:',
  sidebar,
  mainContent,
  ...containerProps
} = Astro.props;

const airSettings = {
  none: '',
  tight: 'gap-3 md:gap-4 lg:gap-6',
  normal: 'gap-4 md:gap-6 lg:gap-8',
  loose: 'gap-6 md:gap-8 lg:gap-12',
};

const layoutClass = cn(
  responsive ? `grid-cols-1 ${breakpoint}grid-cols-[3fr_1fr]` : 'grid-cols-[3fr_1fr]',
  airSettings[air]
);

const sidebarClass = cn(
  sidebar?.background?.class,
  sidebar?.spacing?.padding,
  sidebar?.spacing?.margin,
  sidebar?.border?.width,
  sidebar?.border?.color,
  sidebar?.border?.radius,
  sidebar?.class
);

const mainContentClass = cn(
  mainContent?.background?.class,
  mainContent?.spacing?.padding,
  mainContent?.spacing?.margin,
  mainContent?.border?.width,
  mainContent?.border?.color,
  mainContent?.border?.radius,
  mainContent?.class
);

const defaultContainer = {
  htmlTag: 'div',
  content: { air: 'none', widthType: 'full' },
  layout: { type: 'grid', class: layoutClass },
  printDebug: true,
} as ContainerProps;

const mergedContainerProps = merge({}, defaultContainer, containerProps);
---

<Container {...mergedContainerProps}>
  <div class={mainContentClass}>
    <slot name="main" />
  </div>
  <div class={sidebarClass}>
    <slot name="sidebar" />
  </div>
</Container>
