---
import '~/styles/global.css';

import { I18N } from 'site-config';

import type { MetaData } from '~/types/metadata.types';
import CommonMeta from '~/components/HtmlHeader/CommonMeta.astro';
import Favicons from '~/components/HtmlHeader/Favicons.astro';
import Analytics from '~/components/HtmlHeader/Analytics.astro';
import Metadata from '~/components/HtmlHeader/Metadata.astro';
import SiteVerification from '~/components/HtmlHeader/SiteVerification.astro';

export type Props = {
  langCode?: string;
  metadata?: Partial<MetaData>;
};

const { metadata, langCode } = Astro.props;

// Find the language configuration
const currentLang =
  I18N.languages.find((lang: (typeof I18N.languages)[number]) => lang.code === langCode) ||
  I18N.languages.find((lang: (typeof I18N.languages)[number]) => lang.code === I18N.default) ||
  I18N.languages[0];

const htmlLang = currentLang.code;
const htmlDir = currentLang.direction;
---

<!doctype html>
<html lang={htmlLang} dir={htmlDir}>
  <head>
    <CommonMeta />
    <Favicons />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />
  </head>
  <body>
    <slot />
  </body>
</html>
